.navbar-estilo {
	margin-top: 20px;
}
/* Estilo para Logo Camata en menu */
.navbar-brand{
margin-top:-10px
}
.centrar-navbar{
	margin-top: 6px;
}
table {
	background-color: white;
}
body {
	background-image: url('../imgs/bg.jpg');
	background-repeat: repeat-x;
	background-position: center top;
}

/* Estilos para que el footer quede abajo de todo siempre */
html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;

	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
.footer {
	height: 60px;
	padding: 20px 0px;
	/*margin-top: 20px; no aplicar margin*/
	color: #999;
	text-align: center;
	border-top: 1px solid #E5E5E5;
}
